.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none !important;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
}
/* * {
  background-color:  whitesmoke;
} */
  /*------------- Nav Section ----------------*/
  nav {
    background-color:  white;
  }
  .nav-item {
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: var(--blue);
    text-decoration: none;
  }
  
  .navbar-nav, nav, .navbar {
    display: inline;
  }
  
  #dropdown-basic {
    background-color:  #567d89;
    border: none;
  }
  h3 {
    font-family: 'Playfair Display', serif;
    color: white;
  }

/*---------------- HEADER ----------------*/
#bio-pic {
  border-radius: 50%;
  border: #567d89 solid 8px;
  width: 150px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
}

#bio-pic:hover {
  width: 160px;
}
header {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  align-content: center;
  background-image: url(./images/coding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-family: 'Pushster', cursive;
}

.hello {
  padding-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 60px;
  text-decoration: solid 5px;
  text-shadow: 5px 2px 0px var(black);
  color:white;
}
p {
  margin-left: 200px;
  margin-right: 200px;
}

#about-me {
  padding-top: 50px;
}

.headshot {
  width: 300px;
  margin-left: 300px;
}

#about-me-section {
  display: flex;
}

#bio {
  text-align: left;
  margin-right: 300px;
  height: 300px;
  overflow-y: scroll;
  margin-left: 100px;
}

#scarletBegonias {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-left: 0px;
  margin-right: 0px;
}

#quote {
  margin-top: 30px;
}
main {
  max-width: 90%;
  margin: 20px auto 45px auto;
}

/* --------------------------- Projects ---------------------------------- */
#projects {
  padding-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

h2 {
  font-size: 20px;
  color: var(black);
}

.opacity {
  transition: opacity 0.5s;
  opacity: 50%;
}

.opacity:hover,
.opacity:hover > .highlighted-project,
.opacity:hover > .other-projects-label {
  cursor: pointer;
  transition: opacity 0.5s;
  opacity: 1;
}

.other-projects-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.other-projects {
  width: 300px;
  aspect-ratio: 1/1;
  opacity: 50%;
  transition: 0.5s;
  /* border: 2px solid var(--dark); */
}

.other-projects-label {
  margin: 0 auto;
  width: 75%;
  height: 25%;
  background-color: var(--dark);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  justify-self: center;

  align-items: center;
  text-decoration: none;
  font-weight: 900;
}

.project-1:hover > .label-1,
.project-2:hover > .label-2,
.project-3:hover > .label-3,
  .project-4:hover > .label-4,
  .project-5:hover > .label-5,
  .project-6:hover > .label-6 {
  margin-top: 12.5%;
  font-size: 166%;
  width: 75%;
  height: 75%;
  opacity: 0.95;
  transition: 0.5s;
}

.project-1 {
  background-image: url("./images/brewSky.png");
}

.project-2 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/16816366/media/aade624d7643a61f8205dd9d65edeb98.jpg?compress=1&resize=400x300");
}

.project-3 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/16816366/media/aade624d7643a61f8205dd9d65edeb98.jpg?compress=1&resize=400x300");
}

.project-4 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/16186448/media/ac3ab292f5121d8b3af69d521a050e44.jpg?compress=1&resize=400x300");
}

.project-5 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/11364692/media/bf5c3d34baf0ea520a888fff442a3bbc.jpg?compress=1&resize=400x300");
}

.project-6 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/11364692/media/bf5c3d34baf0ea520a888fff442a3bbc.jpg?compress=1&resize=400x300");
}

/* .project-7 {
  background-image: url("dadJokes.png");
} */

.project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px;
}

.project-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}
.page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.5em;
  padding: 0 0 20px 0;
}
/* created margin line with this */
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 4px solid black;
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1;
}
.page-section > div {
  flex: 0 0 75%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects {
  display: flex;
  border: 5px solid #cd7a00;
  background-color: #567d89;
  color: black;
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(48% - 1em);
  align-items: flex-end;
  margin: 0.5em;
  background-size: 150%;
}

.projects:first-child {
  min-height: 350px;
  flex-basis: 100%;
}

.div-project-heading {
  border: 1.5px solid #cd7a00;
  background-color: #cd7a00;
}
/* h3, span {
  background-color:  white;
} */

/* .project-1 {
  background-image: url("./images/test.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* .project-2 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/16816366/media/aade624d7643a61f8205dd9d65edeb98.jpg?compress=1&resize=400x300");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
} */
/* .project-3 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/16186448/media/ac3ab292f5121d8b3af69d521a050e44.jpg?compress=1&resize=400x300");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
} */
/* .project-4 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/17194451/nouveau_drib_2x.jpg");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
} */
.project-5 {
  background-image: url("https://cdn.dribbble.com/users/3149419/screenshots/11364692/media/bf5c3d34baf0ea520a888fff442a3bbc.jpg?compress=1&resize=400x300");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
}
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #567d89;
  height: 100%;
}
address a {
  display: inline-block;
  margin: 0 0.2rem 0.1rem;
  padding: 5px;
  font-size: 1.3rem;
  text-decoration: underline;
  color: black;
}
/* targets all anchors and gives it a hover */
a:hover {
  background-color: #a16b56;
  opacity: 0.5;
}

/* ----------------------------- Contact Form -------------------------- */

#contact-me, #about-me, #projects, #skillsInPics {
  font-family: 'Playfair Display', serif;
  margin-top: 40px;
  color: var(--lime);
}

#send-it {
  background-color: #567d89;
  color: white;
  border: none;
  border-radius: .25rem !important;
  margin-left: 20px !important;
  border: 1px solid var(--lime);
}

.formStuff {
  margin-top: 7px;
}

form {
  display: block;
}

#contactDiv {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  /* Change the header color */
  header {
    background:  #567d89;
  }
}


@media screen and (max-width: 768px) {
  address a {
    display: flex;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    flex-flow: column;
  }
  /* Change the header color */
  header {
    background:  #567d89;
  }
  /* header h1 {
    background: ;
  } */
  header nav {
    background:  #567d89;
  }
  header nav a {
    background:  #567d89;
  }
}
@media screen and (max-width: 667px) {
  .page-section p {
    display: flex;
    margin: 0px 0 0 80px;
  }

.contact a  {
  display: flex;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  flex-flow: column;
  margin: 0px 0 0 80px;
  justify-content: center;
}
.projects  {
  display: flex;
  background-size: auto;
}
}
@media screen and (max-width: 720px) {
  .page-section p {
    display: flex;
    margin: 0 20px 0 0;
  }
  .contact a {
    display: flex;
    justify-content: center;
   
  
  }
}